<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" href="/css/userListCss.css">
</head>

<body>
<h1>User List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="user:${users}">
        <td>
            <a th:text="${user.id}" th:href="'/users/' + ${user.id}"></a>
            <a th:text="${user.id}"></a>
        </td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.password}"></td>
        <td class="edit">
            <a th:href="'/users/edit/' + ${user.id}">Edit user</a>
        </td>
        <td class="delete">
            <a th:href="@{/users/delete/{id}(id=${user.id})}"
               onclick="return confirm('Are you sure you want to delete this user?')">Delete this row </a>
        </td>
    </tr>
    <tr>
        <th><a href="/users/save">Add New User &nbsp &nbsp &nbsp &nbsp &nbsp</a></th>
        <th class="delete"><a href="/users/deleteAll">Delete all Users</a></th>
    </tr>
</table>


</body>
</html>
