<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Call center Page</title>
    <link rel="stylesheet" type="text/css" href="/css/choseSectionStyles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/userListCss.css">
</head>
<body>
<h1 class="page-position">Welcome SALES Page!</h1>
<div class="section">
    <div class="container">
        <h1>Call center features</h1>
        <ul>
            <li>
                <a href="/call/createCall">Create new call</a>
            </li>
            <li>
                <a href="/call/checkAvailability">View ALL</a>
            </li>
        </ul>
    </div>
</div>
<div>
    <br>
    <br>
    <a href="/users/choseSection" class="a-block-max-width"><h4>Return to Choose a Section page</h4></a>
</div>
<a href="/users/logout" class="exit-button">Exit</a>
</body>
</html>
