<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Section</title>
    <link rel="stylesheet" type="text/css" href="/css/choseSectionStyles.css"/>
</head>
<body>
<div class="container">
    <h1>Choose a Section</h1>
    <ul>
        <li>
            <a href="/createUser">Create user in DB</a>
        </li>
        <li>
            <a href="/getUsersList">Get all users list</a>
        </li>
        <li>
            <a href="/hrPage">Go to HR page</a>
        </li>
        <li>
            <a href="/callPage">Go to Call center page</a>
        </li>
    </ul>
</div>
</body>
</html>