<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/choseSectionStyles.css"/>
</head>
<body class="login-body">
<h1 class="login-position">Login</h1>
<form action="/users/login" method="post">
    <div>
        <label class="login-position">Username:
            <input type="text" name="username">
        </label>
    </div>
    <div>
        <label class="login-position">Password:
            <input type="password" name="password">
        </label>
    </div>
    <p th:if="${error}" th:text="${error}" style="color: red;"  class="login-position"></p>
    <div class="login-position">
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
